body{
    background-color: #00FF00;
    padding: 8px auto;
}

h1{
    text-align: center;
    color: #fff;
    font-family: Pacifico;
    word-spacing: 30px;
    letter-spacing: 2px;
    font-size: 8.5rem;
}

h2{
    text-align: center;
    color: #fff;
    font-family: Pacifico;
    word-spacing: 30px;
    letter-spacing: 2px;
}

.sticks{
    width: 50%;
    margin: 0 auto 0 auto;
    position: relative;

}

#stick1{
    float:left;
    padding: 3% 5% 0px 0px;

}

#stick2{
    padding: 3% 0px 0px 5%;

}

.title{
    padding: 5%;
    position: relative;
}

.xp{
    margin: 2% 2%;
    position: relative;
}

#xpbar1{
    background-color: #FFF;
    height: 20px;    
    text-align: center;
    font-family: 'Do Hyeon';
    letter-spacing: 0px;
    color: #000
}

#xpbar2{
    background-color: #000;
    height: 20px;
    text-align: center;
    font-family: 'Do Hyeon';
    letter-spacing: 0px;
    color: #fff;
}

